.background {
    -fx-background-image: url(../resources/companies.png);
}
.button {
    -fx-background-color:#00CED1;
    -fx-border-color: #e2e2e2;
    -fx-border-radius:3px;
}
.button:hover {
    -fx-background-color: #F0FFFF;
}
